In [1]:
import pandas as pd

In [2]:
excel = pd.read_excel('Carteira.xlsx',sheet_name='Renda_variavel')

In [3]:
excel

,Setor,Ativo,Preço médio,Quantidade,Valor médio,Pregão,Posição,Lucro,Variação
0,Bolsa de valores,B3SA3,14.42,130.0000,1874.600000,11.38,1479.400000,-395.200000,-0.210818
1,Financeiro etc,ITSA4,10.82,215.0000,2326.300000,8.99,1932.850000,-393.450000,-0.169131
2,Financeiro,BAC,25.91,19.7083,510.642053,44.42,875.442686,364.800633,0.714396
3,Serviços TI,SQIA3,23.02,55.0000,1266.100000,16.88,928.400000,-337.700000,-0.266725
4,Energia elétrica,EGIE3,44.08,43.0000,1895.440000,38.60,1659.800000,-235.640000,-0.124319
5,Motores,WEGE3,23.89,98.0000,2341.220000,33.47,3280.060000,938.840000,0.401005
6,Financeiro,JPM,100.75,6.5363,658.532225,157.26,1027.898538,369.366313,0.560893
7,Serviços TI,MSFT,254.34,1.8000,457.812000,334.69,602.442000,144.630000,0.315916
8,Alimento,MDIA3,39.79,34.0000,1352.860000,24.82,843.880000,-508.980000,-0.376225
9,Imóveis,BCFF11,85.80,62.0000,5319.600000,69.80,4327.600000,-992.000000,-0.186480
10,Saúde,GNDI3,58.21,15.0000,873.150000,61.45,921.750000,48.600000,0.055661
11,Varejo café,SBUX,103.17,1.3000,134.121000,112.37,146.081000,11.960000,0.089173
12,Saúde,UNH,99.53,0.2960,99.530000,495.38,146.632480,47.102480,0.473249
13,Celulose,KLBN3,4.54,170.0000,771.800000,6.06,1030.200000,258.400000,0.334802
14,Saúde,FLRY3,21.42,83.0000,1777.860000,17.39,1443.370000,-334.490000,-0.188142
15,Alimento,CAML3,10.04,102.0000,1024.080000,10.09,1029.180000,5.100000,0.004980
16,Shoppings,XPML11,89.80,40.0000,3592.000000,94.42,3776.800000,184.800000,0.051448
17,Rede cartões,V,227.85,1.8560,422.889600,216.62,402.046720,-20.842880,-0.049287
18,Varejo,LREN3,38.69,34.0000,1315.460000,24.17,821.780000,-493.680000,-0.375291
19,Bebidas,ABEV3,16.26,67.0000,1089.420000,15.55,1041.850000,-47.570000,-0.043665
20,Imóveis logisticos,HGLG11,163.14,7.0000,1141.980000,166.91,1168.370000,26.390000,0.023109
21,Consultoria,ACN,9.77,0.0300,9.770000,403.31,12.099300,2.329300,0.238414

In [4]:
Money = ['MSFT']
Money_in = excel['Ativo'].isin(Money)

In [5]:
excel[Money_in]

,Setor,Ativo,Preço médio,Quantidade,Valor médio,Pregão,Posição,Lucro,Variação
7,Serviços TI,MSFT,254.34,1.8,457.812,334.69,602.442,144.63,0.315916

In [6]:
excel.dtypes

Setor           object
Ativo           object
Preço médio    float64
Quantidade     float64
Valor médio    float64
Pregão         float64
Posição        float64
Lucro          float64
Variação       float64
dtype: object