In [1]:
import pandas as pd

In [2]:
excel = pd.read_excel('Carteira.xlsx',sheet_name='Renda_variavel')

In [3]:
excel

,Setor,Ativo,Preço médio,Quantidade,Valor médio,Pregão,Posição,Lucro,Variação
0,Bolsa de valores,B3SA3,14.42,100,1442.0,11.38,1138,-304.0,-0.210818
1,Financeiro etc,ITSA4,10.82,100,1082.0,8.99,899,-183.0,-0.169131
2,Financeiro,BAC,25.91,100,2591.0,44.42,4442,1851.0,0.714396
3,Serviços TI,SQIA3,23.02,100,2302.0,16.88,1688,-614.0,-0.266725
4,Energia elétrica,EGIE3,44.08,100,4408.0,38.60,3860,-548.0,-0.124319
5,Motores,WEGE3,23.89,100,2389.0,33.47,3347,958.0,0.401005
6,Financeiro,JPM,100.75,100,10075.0,157.26,15726,5651.0,0.560893
7,Serviços TI,MSFT,254.34,100,25434.0,334.69,33469,8035.0,0.315916
8,Alimento,MDIA3,39.79,100,3979.0,24.82,2482,-1497.0,-0.376225
9,Imóveis,BCFF11,85.80,100,8580.0,69.80,6980,-1600.0,-0.186480
10,Saúde,GNDI3,58.21,100,5821.0,61.45,6145,324.0,0.055661
11,Varejo café,SBUX,103.17,100,10317.0,112.37,11237,920.0,0.089173
12,Saúde,UNH,99.53,100,9953.0,495.38,49538,39585.0,3.977193
13,Celulose,KLBN3,4.54,100,454.0,6.06,606,152.0,0.334802
14,Saúde,FLRY3,21.42,100,2142.0,17.39,1739,-403.0,-0.188142
15,Alimento,CAML3,10.04,100,1004.0,10.09,1009,5.0,0.004980
16,Shoppings,XPML11,89.80,100,8980.0,94.42,9442,462.0,0.051448
17,Rede cartões,V,227.85,100,22785.0,216.62,21662,-1123.0,-0.049287
18,Varejo,LREN3,38.69,100,3869.0,24.17,2417,-1452.0,-0.375291
19,Bebidas,ABEV3,16.26,100,1626.0,15.55,1555,-71.0,-0.043665
20,Imóveis logisticos,HGLG11,163.14,100,16314.0,166.91,16691,377.0,0.023109
21,Consultoria,ACN,9.77,100,977.0,403.31,40331,39354.0,40.280450

In [4]:
Money = ['MSFT']
Money_in = excel['Ativo'].isin(Money)

In [5]:
excel[Money_in]

,Setor,Ativo,Preço médio,Quantidade,Valor médio,Pregão,Posição,Lucro,Variação
7,Serviços TI,MSFT,254.34,100,25434.0,334.69,33469,8035.0,0.315916

In [6]:
excel.dtypes

Setor           object
Ativo           object
Preço médio    float64
Quantidade       int64
Valor médio    float64
Pregão         float64
Posição          int64
Lucro          float64
Variação       float64
dtype: object